.MuiCardActions-root {
    display: none;
    height: 2.4rem;
}

.MuiCardContent-root {
    padding-bottom: 0px;
}

.card {
    transition: .6s ease-out;
    zoom: 0.8;
}

.card:hover {
    transition: .6s ease-in;
    transform: scale(1.2);
    z-index: 5;
    position: absolute;
}

.MuiPaper-root:hover > .MuiCardActions-root {
    display: flex;
}

.MuiSvgIcon-root {
    zoom: 0.6;
}

.MuiTypography-root {
    font-size: 7pt;
}

.MuiButtonBase-root {
    font-size: 7pt;
}

.title {
    font-size: 11pt;
    font-weight: bold;
    padding-bottom: 1px;
}

.author {
    font-size: 9pt;
    font-style: italic;
}

.category {
    font-size: 8pt;
    margin-top: 2px;
}

.preview {
    color: black;
    font-size: 9pt;
    margin-top: 0.5rem;
}