.container{
    display: flex;
   justify-content: center;
   align-items: center;
   /* height: 100vh; */
}

.MuiStack-root{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */

}

.css-v1wsdu-MuiStack-root>:not(style)+:not(style) {
    margin-top:0 !important;
}